@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/light.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Custom scrollbar styles */
@layer utilities {
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #0000007e #00000000;
        scroll-behavior: smooth;
    }
}
